* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h1 {

    text-align: center;
    margin-top: 1em;
    font-size: 2.5em;
    color: black;
    font-family: 'Akaya Telivigala', cursive;
    border-radius: 0em 3em;
    border-style: outset;
    background-color: #FCD8CA;

}

body {
    /* background-color: black; */
    color: white;

    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    
    background-repeat: none;
    min-height: 100vh;

}

.container {
    text-align: center;
    margin-top: 2em;
}

.numberInput {
    background-color: rgb(252, 216, 202);
    margin-right: 1em;
    width: 5em;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
    outline: none;
    border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.numLucky {
    background-color: blue;
    color: white;
    height: 3em;
    padding: 1em;
    font-weight: bold;
    margin-right: 0.5em;
    background-color: blue;
    background-image: radial-gradient(blue 60%, white);
    border-radius: 1em;
    opacity: 0.8;
}

.numLucky:hover {
    outline: 2px solid blue;
    opacity: 1;
}

.reset {
    background-color: red;
    color: white;
    height: 3em;
    padding: 1em;
    font-weight: bold;
    background-image: radial-gradient(red 60%, white);
    border-color: rgb(235, 111, 111);
    border-radius: 1em;
    border-radius: 1em;
    opacity: 0.8;
}

.reset:hover {
    outline: 2px solid red;
    opacity: 1;
}

.liste span {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    background-color: rgb(26, 87, 87);
    box-shadow: 5px 10px 20px rgb(236, 84, 109) inset;
    border-radius: 2.5em;
    padding-top: 0.7em;
    margin-top: 0.5em;
    animation-name: turned;
    animation-duration: 3s;
}

@keyframes turned {

    from {
        transform: rotateX(3turn);
    }

    to {
        transform: rotateX(2turn);
    }
}

.liste .joker {
    background-color: rgb(141, 103, 6);
    box-shadow: 5px 10px 20px red inset;
}

.liste .superStar {
    background-color: rgb(110, 77, 7);
    box-shadow: 5px 10px 20px rgb(80, 18, 223) inset;
}